CI_ENVIRONMENT = development
app.baseURL = 'http://localhost:8080/'
app.indexPage = ''

database.default.hostname = localhost
database.default.database = startup_db
database.default.username = root
database.default.password =
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.charset = utf8mb4
database.default.DBCollat = utf8mb4_unicode_ci

# Cache
cache.handler = file

# Encryption key (generate with: php spark key:generate)
encryption.key = 
